<th:block th:fragment="datatables-js">
	<script src="https://cdn.datatables.net/2.3.5/js/dataTables.js"></script>
	<script src="https://cdn.datatables.net/2.3.5/js/dataTables.bootstrap5.js"></script>
	<script src="https://cdn.datatables.net/staterestore/1.4.3/js/dataTables.stateRestore.js"></script>
	<script src="https://cdn.datatables.net/staterestore/1.4.3/js/stateRestore.bootstrap5.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.2.5/js/dataTables.buttons.js"></script>
	<script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.bootstrap5.js"></script>
</th:block>