<th:block xmlns:th="http://www.thymeleaf.org">
    <header class="header fixed-top">
        <nav class="navbar navbar-expand-lg p-0">
            <div class="container-fluid justify-content-around p-0">
                <div class="row w-100">
                    <div class="col-lg-5">
                        <!--Client Logo-->
                        <div class="header-logo d-flex align-items-center justify-content-between">
                            <a href="#" class="d-flex align-items-center">
                                <img th:src="@{/assets/img/client/hm_iitm_logo.png}" alt="">
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fa-solid fa-outdent"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-7 pe-lg-0">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="pagetitle">
            <div class="row align-items-center">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6 text-lg-end">
                </div>
            </div>
        </div>
    </header>
</th:block>
