<th:block th:fragment="content(logTag)">
    <div class="mt-3">
        <h2 class="tmsub-title">
            Logs for
            <label class="form-label ps-1" id="log-tag" th:text="${logTag}"></label>
            <label class="form-label-sm ps-2" id="lastRefresh"></label>
        </h2>
        <div class="col-lg-12">
            <button type="button" class="btn btn-tmPrimary" onclick="startFetchLogs()">
                <i class="fa fa-rotate-right"></i> Refresh Logs
            </button>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-inline" onclick="toggleAutoRefresh()"
                       id="autoRefreshLogs"/>
                <label for="autoRefreshLogs" class="form-check-label">
                    <i class="fa fa-arrows-rotate"></i> Auto Refresh Logs
                </label>
            </div>
            <button type="button" class="btn btn-tmPrimary" onclick="clearUILogs()">
                <i class="fa fa-delete-left"></i> Clear
            </button>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-inline" onclick="toggleAutoScroll()"
                       id="autoScroll"/>
                <label for="autoScroll" class="form-check-label">
                    <i class="fa fa-arrows-down-to-line"></i> Auto Scroll to Bottom
                </label>
            </div>
        </div>
        <div class="col-lg-12 mt-4" id="log-container" style="max-height: 400px; overflow: scroll"></div>
    </div>
</th:block>