<!DOCTYPE html>
<html lang="en">
<head th:replace="~{common/head :: common_header(~{::link})} ">
	<!--If you want to specify custom styling, create its own css page and link it here.-->
</head>

<body>
	<header th:replace="~{common/header:: title(${headerForm})}"></header>
	<!-- //Main-->
	<main id="main" class="main">
		<div class="row">
			<div class="col-lg-12">
				<div class="card main-card mt-4">
					<div class="card-body themeForm">
						<div class="mb-4">
							<div class="table-responsive themeTable">
								<table id="designationListDataTable" class="table table-bordered nowrap w-100">
									<thead>
										<tr>
											<th>
												<span
													th:text="#{message.label.designation.name}"></span>
											</th>
											
											<th class="text-center">
												<span th:text="#{message.label.action}"></span>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="designation, iter: ${designationList}">
											<td th:text="${designation.designationName}"></td>
											<td class="text-center">
												<div class="d-flex justify-content-center">
													<button type="button" class="btn btn-outline-primary btn-sm me-2"
														data-bs-toggle="tooltip" th:data-designation-id="${designation.id}"
														onclick="editDesignation(this);" data-bs-title="Edit">
														<i class="fa-solid fa-pencil"></i>
													</button>
													<button type="button" class="btn btn-outline-danger btn-sm"
														data-bs-toggle="tooltip" th:id="${'deletedes_'+designation.id}"
														onclick="deleteDesignation(this);"
														th:data-designation-id="${designation.id}" data-bs-title="Delete">
														<i class="fa-solid fa-trash-can"></i>
													</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<div th:id="modalDiv"></div>

	<th:block th:replace="~{common/modal/delete-modal :: contents(headerText=#{message.label.confirmation},bodyText=#{message.label.delete.row})}"></th:block>

	<!-- Footer-->
	<th:block th:replace="~{common/footer :: scripts(~{::script}, ${footerForm})}">
		<script th:src="@{/assets/js/staff/designation-master.js}"></script>
		<script>
			$(document).ready(function() {
				$('#designationListDataTable').DataTable({
					"pageLength" : 25
				});

			});
		</script>
		<script th:inline="javascript">
			const baseURL = /*[[#{url.designation.master}]]*/ '';
			const checkDetailsExistURL = /*[[#{url.designation.name.exist}]]*/ '';
		</script>
	</th:block>
	<!-- Footer-->
</body>

</html>