<!DOCTYPE html>
<html lang="en">

<head th:replace="~{common/head :: common_header(~{::link})} "></head>

<body>
<header th:replace="~{common/header:: title(${headerForm})}"></header>
<!-- //Main-->
<main id="main" class="main">
    <div class="row">
        <div class="col-lg-12">
            <div class="card main-card mt-4">
                <div class="card-body themeForm">
                    <form th:action="@{#{url.journal.voucher}}" method="post" class="themeForm" id="journalVoucherForm" th:object="${transactionDto}">
                        <div class="row mb-4">
                            <div class="col-lg-3 mb-3">
                                <a id="add-1" class="btn btn-outline-primary" href="#" onclick="addRowToJournalTable()"
                                   th:unless="*{voucherNo ne null and !voucherNo.isEmpty()}">
                                    <i class="fa-solid fa-plus "></i>
                                    <span th:text="#{message.label.add.detail}"></span>
                                </a>
                            </div>
                            <div class="col-lg-9 mb-3">
                                <div class="row d-flex justify-content-end">
                                    <div class="col-3 pe-0 align-self-center" th:if="*{voucherNo ne null and !voucherNo.isEmpty()}">
                                        <label for="voucher_no" class="form-label"><span th:text="#{message.label.voucher.no}"></span>
                                        </label>
                                        <input id="voucher_no" th:field="*{voucherNo}" class="form-control" readonly>
                                    </div>

                                    <div class="col-3 pe-0 align-self-center">
                                        <label for="voucher_date" class="form-label"><span th:text="#{message.label.voucher.date}"></span>
                                            <th:block th:replace="~{common/template/mandatory-symbol}"/>
                                        </label>
                                        <input id="voucher_date" type="date" class="form-control required-input" th:name="|date|" required
                                               th:value="${transactionDto.voucherNo ne null ? transactionDto.date :
                                               #temporals.format(T(java.time.LocalDate).now())}">
                                        <div class="invalid-feedback" th:text="#{message.label.voucher.date} + ' ' + #{message.validation.is.required}"></div>
                                    </div>
                                    <!--<div class="col-3">
                                        <input id="voucher_date" type="date" class="form-control" name="voucher_date" th:field="*{voucherDate}" required>
                                        <div class="invalid-feedback" th:text="#{message.label.voucher.date} + ' ' + #{message.validation.is.required}"></div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="table-responsive themeTable">
                                <table id="studentLoginTable" class="table table-bordered nowrap">
                                    <thead>
                                    <tr>
                                        <th th:text="#{message.label.ledger.account}">
                                            <th:block th:replace="~{common/template/mandatory-symbol}"/>
                                        </th>
                                        <th th:text="#{message.label.ledger.sub.account}">
                                            <th:block th:replace="~{common/template/mandatory-symbol}"/>
                                        </th>
                                        <th th:text="#{message.label.ledger.ref.no}"></th>
                                        <th th:text="#{message.label.description}"></th>
                                        <th th:text="#{message.label.dr.cr}"></th>
                                        <th class="text-end" th:text="#{message.label.amount}">
                                            <th:block th:replace="~{common/template/mandatory-symbol}"/>
                                        </th>
                                        <th width="10%" class="text-center" th:text="#{message.label.action}"
                                            th:unless="*{voucherNo ne null and !voucherNo.isEmpty()}"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="transaction,iter: *{transferAmtList1}">
                                        <input type="hidden" th:name="|transferAmtList1[${iter.index}].voucherNo|" th:value="${transaction.voucherNo}">
                                        <input type="hidden" th:name="|transferAmtList1[${iter.index}].slNo|" th:value="${transaction.slNo}">
                                        <td width="20%">
                                            <input type="hidden" th:name="|transferAmtList1[${iter.index}].accHead|"
                                                   th:if="*{voucherNo ne null and !voucherNo.isEmpty()}">
                                            <select th:id="'accHead_'+${iter.index}" class="form-select ledger-account required-input"
                                                    th:disabled="*{voucherNo ne null and !voucherNo.isEmpty()}" th:name="|transferAmtList1[${iter.index}].accHead|"
                                                    th:oninput="showHideStudentInput([[${iter.index}]],this)" required>
                                                <option value="" th:text="#{message.label.select}"></option>
                                                <option th:each="accHead : ${accountHeadList}" th:value="${accHead.id.acchead}" th:text="${accHead.accname}"
                                                        th:selected="${transaction ne null and transaction.accHead ne null and
                                                        transaction.accHead.equals(accHead.id.acchead)}"></option>
                                            </select>
                                            <div class="invalid-feedback"
                                                 th:text="#{message.label.ledger.account} + ' ' + #{message.validation.is.required}"></div>
                                        </td>
                                        <td width="20%">
                                            <div th:id="'studentIdDiv_'+${iter.index}" class="d-none">
                                                <input type="text" class="form-control isAlphanumeric" maxlength="12"
                                                       th:id="'studentId_'+${iter.index}"
                                                       th:name="|transferAmtList1[${iter.index}].studentId|">
                                                <div class="invalid-feedback" th:text="#{message.validation.student.details.id}">
                                                </div>
                                            </div>

                                            <div th:id="'subAccDiv_'+${iter.index}">
                                                <select class="form-select ledger-sub-account required-input"
                                                        th:id="'subAccHead_'+${iter.index}"
                                                        th:disabled="*{voucherNo ne null and !voucherNo.isEmpty()}"
                                                        th:name="|transferAmtList1[${iter.index}].subAccHead|" required>
                                                    <option value="" selected>Select</option>
                                                    <option value="-" th:selected="${transaction ne null and transaction.subAccHead ne null and
                                                        transaction.subAccHead.equals('-')}">-</option>
                                                </select>
                                                <div class="invalid-feedback"
                                                     th:text="#{message.label.ledger.sub.account} + ' ' + #{message.validation.is.required}">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" name="ledger_ref_no" class="form-control ledger-ref-no" maxlength="15"
                                                   th:value="${transaction.docRefNo}" th:name="|transferAmtList1[${iter.index}].docRefNo|">
                                            <div class="invalid-feedback"
                                                 th:text="#{message.label.ledger.ref.no} + ' ' + #{message.validation.is.required}"></div>
                                        </td>
                                        <td>
                                            <input type="text" name="description" class="form-control description" maxlength="100"
                                                   th:value="${transaction.description}" th:name="|transferAmtList1[${iter.index}].description|">
                                            <div class="invalid-feedback"
                                                 th:text="#{message.label.description} + ' ' + #{message.validation.is.required}">
                                            </div>
                                        </td>
                                        <td>
                                            <input type="hidden" th:name="|transferAmtList1[${iter.index}].debitOrCredit|"
                                                   th:if="*{voucherNo ne null and !voucherNo.isEmpty()}">
                                            <select name="debit_credit" class="form-select debit-credit required-input" th:disabled="*{voucherNo ne null and !voucherNo.isEmpty()}"
                                                    th:name="|transferAmtList1[${iter.index}].debitOrCredit|" required>
                                                <option value="" th:text="#{message.label.select}"></option>
                                                <option value="d" th:selected="${transaction.debitOrCredit ne null and transaction.debitOrCredit.equalsIgnoreCase('d')}">Debit
                                                </option>
                                                <option value="c" th:selected="${transaction.debitOrCredit ne null and transaction.debitOrCredit.equalsIgnoreCase('c')}">Credit
                                                </option>
                                            </select>
                                            <div class="invalid-feedback" th:text="#{message.validation.debit.credit.required}"></div>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control amount required-input isNumberAndDot text-end"
                                                   th:readonly="*{voucherNo ne null and !voucherNo.isEmpty()}"
                                                   maxlength="15" th:value="${transaction.amount}" th:name="|transferAmtList1[${iter.index}].amount|" required/>
                                            <div class="invalid-feedback" th:text="#{message.validation.amount}"></div>
                                        </td>
                                        <td width="10%" align="center" th:unless="*{voucherNo ne null and !voucherNo.isEmpty()}">
                                            <div class="d-flex justify-content-center gap-1">
                                                <a id="delete-1" class="btn btn-outline-danger" href="#" onclick="removeCurrentRow(this)">
                                                    <i class="fa-solid fa-trash "></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="5" class="text-end"><strong>Total Debit</strong></td>
                                        <td colspan="2" class="text-end">
                                            <div class="form-graybox totalDebit currency p-2" th:text="*{totalDebit}"></div>
                                            <input type="hidden" id="totalDebit" name="totalDebit" class="totalDebit form-control text-end currency" th:value="*{totalDebit}" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-end"><strong>Total Credit</strong></td>
                                        <td colspan="2" class="text-end">
                                            <div class="form-graybox totalCredit currency p-2" th:text="*{totalCredit}"></div>
                                            <input type="hidden" id="totalCredit" name="totalCredit" class="totalCredit form-control text-end currency" th:value="*{totalCredit}" readonly>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-end text-end">
                                <button type="submit" class="btn btn-lgtblue me-1" id="save" onclick="return validateJournalVoucherForm()"
                                        th:unless="*{voucherNo ne null and !voucherNo.isEmpty()}">
                                    <i class="fa-solid fa-floppy-disk me-1"></i>
                                    <span th:text="#{message.button.save}"></span>
                                </button>

                                <button type="submit" class="btn btn-blue me-3" id="update" onclick="return validateJournalVoucherForm()"
                                        th:if="*{voucherNo ne null and !voucherNo.isEmpty() and cancelStatus ne null and
                                        !cancelStatus.equalsIgnoreCase('Y')}">
                                    <i class="fa-solid fa-rotate me-1"></i>
                                    <span th:text="#{message.button.update}"></span>
                                </button>

                                <button type="button" class="btn btn-secondary" id="cancel"
                                        th:if="*{voucherNo ne null and !voucherNo.isEmpty() and cancelStatus ne null and
                                        !cancelStatus.equalsIgnoreCase('Y')}" th:onclick="cancelJournalVoucher([[${transactionDto.voucherNo}]])">
                                    <i class="fa-solid fa-ban me-1"></i>
                                    <span th:text="#{message.button.cancel}"></span>
                                </button>
                            </div>
                            <div class="text-danger text-end" th:if="*{voucherNo ne null and !voucherNo.isEmpty() and cancelStatus ne null and
                            cancelStatus.equalsIgnoreCase('Y')}">
                                <span th:text="'This Voucher is Cancelled.'"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="~{common/modal/delete-modal ::
   contents(headerText=#{message.label.confirmation},bodyText=#{message.label.cancel.voucher})}">
</th:block>

<!--<div class="alignleft padLeft10px">-->
<!--    <a href="javascript:void(0);" onclick="addRowToJournalTable()" title="Add Journal Items" class="addNewStyle">Add-->
<!--        Detail</a>-->
<!--</div>-->
<!-- Footer-->
<th:block th:replace="~{common/footer :: scripts(~{::script}, ${footerForm})}">
    <script th:src="@{/assets/js/hostel/journal-voucher.js}"></script>
    <script th:inline="javascript">
        const baseURL = /*[[#{url.journal.voucher}]]*/ '';
        const cancelURL = /*[[#{url.cancel}]]*/ '';
    </script>
</th:block>
<!-- Footer-->
</body>

</html>