<!DOCTYPE html>
<html lang="en">

<head th:replace="~{common/head :: common_header(~{::link})} ">
	<!--If you want to specify custom styling, create its own css page and link it here.-->
</head>

<body>
	<header th:replace="~{common/header:: title(${headerForm})}"></header>
	<!-- //Main-->
	<main id="main" class="main">
		<!--School Info Section-->
		<div class="row">
			<div class="col-lg-12">
				<div class="card main-card mt-4">
					<div class="card-body themeForm">
						<div class="mb-4">
							<th:block th:fragment="formInputs(filters)">
	                    		<form class="themeForm" id="accountHeadSummary" method="get">
	                    			<input type="hidden" th:value='${filters}' id="filters">
									<input type="hidden" id="search" name="search">
		                            <div class="row mb-3">                            	
										<div class="col-lg-3 mb-3">
											<label class="form-label">
												<span th:text="#{message.label.from.date}"></span>
											</label>
											<input type="date" class="form-control"
												   th:name="fromDate" id="fromDate" th:value="${filters.get('fromDate')}">
										</div>
										<div class="col-lg-3 mb-3">
											<label class="form-label">
												<span th:text="#{message.label.to.date}"></span>
											</label>
											<input type="date" class="form-control"
												   th:name="toDate" id="toDate" th:value="${filters.get('toDate')}">
											<div class="invalid-feedback"
                                                 th:text="#{message.label.to.date.validation}">
                                            </div>
										</div>                                
		                                <div class="col-lg-3">
											<input type="hidden" id="pageVal" th:value="${form.pageVal}" /> 
											<input type="hidden" id="sizeVal" th:value="${form.size}" />
											<button type="button" id="getData" class="btn btn-lgtblue px-4"
												style="margin-top: 38px" onclick="return checkAdvanceFilter();">
												<i class="fa-solid fa-database"></i> 
												<span th:text="#{message.button.get.data}"></span>
											</button>
										</div>
		                            </div>
		                        </form>
                    		</th:block>
                    	</div>
                    	<div class="col-lg-12">
                                <div class="form-group">
                                    <!-- reportList -->
                                    <div class="table-responsive themeTable">
                                        <table class="table table-bordered nowrap w-100">
                                             <thead>
		                                        <tr>
		                                            <th class="text-center" th:text="#{message.label.vocher.date}"></th>
		                                            <th class="text-center" th:text="#{message.label.account.head}"></th>
		                                            <th class="text-center" th:text="#{message.label.sub.account.head}"></th>
		                                            <th class="text-center" th:text="#{message.label.debit.dr}"></th>
		                                            <th class="text-center" th:text="#{message.label.credit.cr}"></th>
		                                        </tr>
		                                    </thead>
		                                    <tbody>
											    <tr th:if="${form.paginationList != null && form.paginationList.getContent() != null}"
											        th:each="accountHeadSummaryList, iter : ${form.paginationList.getContent()}">
											        
											        <td/>
											        <td class="text-center" th:text="${#strings.isEmpty(accountHeadSummaryList.accHead) ?  'N/A' : accountHeadSummaryList.accHead}"></td>
											        <td/>
											        <td class="text-center" th:text="${#strings.isEmpty(accountHeadSummaryList.creditStr) ?  'N/A' : accountHeadSummaryList.creditStr}"></td>
											        <td class="text-center" th:text="${#strings.isEmpty(accountHeadSummaryList.debitStr) ?  'N/A' : accountHeadSummaryList.debitStr}"></td>
											    </tr>
											</tbody>
                                        </table>
                                    </div>
                                </div>
                                <div th:replace="~{common/template/pagination :: pagination(${form})}"></div>
                            </div>                     	                 
                    </div>                    
                </div>
            </div>
        </div>
    </main>
    <!-- Footer-->
    <th:block th:replace="~{common/footer :: scripts(~{::script}, ${footerForm})}">
		<!-- Datad Table JS FILES -->
		<script th:src="@{/assets/js/hostel/account-head-summary-report.js}"></script>
	    <script th:inline="javascript">
		    const baseURL = /*[[#{url.hostel.account.head.summary.report}]]*/ '';
	    </script>
	</th:block>
</body>

</html>