<!DOCTYPE html>
<html lang="en">

<head th:replace="~{common/head :: common_header(~{::link})} ">
	<!--If you want to specify custom styling, create its own css page and link it here.-->
</head>

<body>
	<header th:replace="~{common/header:: title(${headerForm})}"></header>
	<main id="main" class="main">
		<!--School Info Section-->
		<div class="row">
			<div class="col-lg-12">
				<div class="card main-card mt-4">
					<div class="card-body themeForm">
						<form th:action="@{#{url.hostel.bulk.room.config}+#{url.save}}" method="post"
							enctype="multipart/form-data" th:object="${roomInfoDto}" id="bulkUploadForm">
							<div class="row" id="roomBulkUpload">
								<div class="row">
									<div class="col-lg-12">
										<h2 class="tmsub-title"><span th:text="#{message.label.bulk.upload.download}"></span></h2>
									</div>
								</div>
								<div class="col-lg-12 mb-3 d-flex align-items-center">
									<span class="fs-5">
										<u class="text-tmPrimary"><a
												th:href="@{#{url.hostel.bulk.room.config}+#{url.template.download}}"
												id="excelTemplate" th:text="#{message.label.click.here.caps}"></a>
										</u><span th:text="#{message.label.room.config.click.here.note}"></span></span>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<h2 class="tmsub-title"><span th:text="#{message.label.bulk.upload.file.header}"></span></h2>
									</div>
								</div>
								<label class="form-label me-3" for="file"><span th:text="#{message.label.bulk.upload.file}"></span>
									<th:block th:replace="~{common/template/mandatory-symbol}" /></label>
								<div class="col-lg-3">
										<input type="file" class="form-control" id="file" name="file"
											th:placeholder="#{message.label.bulk.upload.file}">
										<div class="selectFile2 d-none"><span class="text-danger" th:text="#{message.validation.choose.file}"></span></div>
										<div class="validFile d-none"><span class="text-danger" th:text="#{message.validation.invalid.file.format}"></span></div>
									</div>
								<div class="col-lg-3 my-2">
									<button type="button"
											onclick=" return validateFile()" id="uploadFileButton"
											class="btn btn-purple">
										<i class="fa fa-upload" aria-hidden="true"></i> <span th:text="#{message.button.upload.file}"></span>
									</button>
								</div>
							</div>
								<div class="errorText"
									th:if="${roomInfoDto != null && roomInfoDto.errorList != null && !roomInfoDto.errorList.isEmpty()}">
									<ul>
										<li th:each="error : ${roomInfoDto.errorList}">
											<span th:text="${error}" class="text-danger"></span>
										</li>
									</ul>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- Footer-->
	<th:block th:replace="~{common/footer :: scripts(~{::script}, ${footerForm})}">
		<!-- Datad Table JS FILES -->
		<script th:src="@{/assets/js/hostel/room-info.js}"></script>

	</th:block>
	<!-- Footer-->
</body>

</html>