<!DOCTYPE html>
<html lang="en">
 <head th:replace="~{common/head :: common_header(~{::link})} ">
</head>

<body>
<header th:replace="~{common/header:: title(${headerForm})}"></header>

<!-- //Main-->
	<main id="main" class="main">
		<div class="row">
			<div class="col-lg-12">
				<div class="card main-card mt-4">
					<div class="card-body themeForm">
						<div class="mb-4">
							<div class="table-responsive themeTable">
								<table id="mailtemplateTable" class="table table-bordered nowrap w-100">
									<thead>
										<tr>
											<th th:text="#{message.label.authority.type}"></th>
		                                    <th th:text="#{message.label.hostel.category}"></th>
		                                    <th th:text="#{message.label.approval.level}"></th>
		                                    <th th:text="#{message.label.mail.type}"></th>
		                                    <th th:text="#{message.label.mail.subject}"></th>
                                    		<th class="text-center"  th:text="#{message.label.action}"></th>
                                    	</tr>
									</thead>
									<tbody>
								    	<tr th:if="${form.paginationList != null && form.paginationList.getContent() != null}"
											th:each="mail : ${form.paginationList.getContent()}">
								    		<td th:text="${mail.authorityType}"></td>
								    		<td th:text="${mail.category}"></td>
								    		<td class="text-center" th:text="${mail.approvalLevel}"></td>
								    		<td th:text="${mail.mailType}"></td>
								    		<td th:text="${mail.mailSubject}"></td>
								    		<td class="text-center">
								    			<a th:href="@{#{url.mail.template}+'/'+${mail.mailType}}"
												   class="btn btn-outline-primary btn-sm me-2"
													id="editMail" data-bs-toggle="tooltip"  data-bs-title="Edit" >
														<i class="fa-solid fa-pencil"></i>
												</a>
											</td>
								    	</tr>
								    	 <tr th:if="${form.paginationList  == null || form.paginationList.getContent().size() eq 0}">
											<td colspan="6" class="text-center"><span th:text="#{message.label.no.data.available}"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div th:replace="~{common/template/pagination :: pagination(${form})}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- Footer-->
	<th:block th:replace="~{common/footer :: scripts(~{::script}, ${footerForm})}">
		<script th:src="@{/assets/js/hostel/mail-template.js}"></script>
		<script th:inline="javascript">
			const baseURL = /*[[#{url.mail.template}]]*/ '';
		</script>
	</th:block>
	<!-- Footer-->
</body>

</html>