<!DOCTYPE html>
<html lang="en">

<head th:replace="~{common/head :: common_header(~{::link})} ">
	<!--If you want to specify custom styling, create its own css page and link it here.-->
</head>

<body>
	<header th:replace="~{common/header:: title(${headerForm})}"></header>
	<main id="main" class="main">
		<div class="row">
			<div class="col-lg-12">
				<div class="card main-card mt-4">
					<div class="card-body">
						<form class="themeForm" th:action="@{#{url.room.inventory}}" method="get"  id="roomInventoryForm">
							<div class="row mb-3">
								<div class="col-lg-3 mb-3">
									<label class="form-label" for="hostelName">
										<span th:text="#{message.label.hostel.name}"></span>
										<th:block th:replace="~{common/template/mandatory-symbol}" />
									</label>
									<select class="selectpicker required-select-input" data-live-search="true" th:value="${hostelId}"
										id="hostelName">
										<option value="0" th:if="${#lists.size(hostelList) > 1}"
												th:text="#{message.label.select} + ' ' + #{message.label.hostel.name}">
										<option th:each="hostelList : ${hostelList}" th:value="${hostelList.id}"
											th:text="${hostelList.hostelName}"
											th:selected="*{hostelId} == ${hostelList.id}">
										</option>
									</select>
									<div class="invalid-feedback" th:text="#{message.validation.hostel.name.required}"></div>
								</div>

								<div class="col-lg-3 mb-3">
									<label class="form-label">
										<span th:text="#{message.label.asset.condition}"></span>
										<th:block th:replace="~{common/template/mandatory-symbol}" />
									</label>
									<select class="form-select required-input" th:value="${assetCondition}" id="assetCondition">
										<option value="0" th:text="#{message.label.select}+' '+#{message.label.asset.condition}"></option>
										<option th:each="assetConditionList : ${assetConditionList}" th:value="${assetConditionList.id}" th:text="${assetConditionList.value}" th:selected="*{assetCondition} == ${assetConditionList.id}"></option>
									</select>
									<div class="invalid-feedback" th:text="#{message.validation.asset.condition.required}"></div>
								</div>
								<div class="col-lg-2">
									<input type="hidden" id="pageVal" th:value="${form.pageVal}"/>
										<input type="hidden" id="sizeVal" th:value="${form.size}"/>
									<button type="button" id="getData" class="btn btn-lgtblue px-4" style="margin-top: 38px" onclick="return getRoomInventoryListValidate()">
										<i class="fa-solid fa-database"></i>
										<span th:text="#{message.button.get.data}"></span>
									</button>
								</div>
								<div class="col d-flex justify-content-end align-items-center">
									<div class="col-auto me-3 mb-3">
			        					<label for="search" class="form-label"><span th:text="#{message.label.keyword}"></span>
			        						<i class="fas fa-info-circle text-secondary" data-bs-toggle="tooltip"  
	        									data-bs-title="Use Asset code, Asset name, Hostel name and Room No. to search"></i>
			        					</label>
		                            	<input type="text" class="form-control" name="search" id="search"
		                                   th:value="${form.search}">
	                             	</div>
		                             <div class="col-auto mt-1 ">
		                            	<button class="btn btn-secondary mt-3" type="button" onclick="return getRoomInventoryListValidate();">
		                            		<span th:text="#{message.label.search}"></span>
		                            	</button>
		                            </div>
									</div>
								</div>
							</form>
							<div th:if="${form.paginationList != null && form.paginationList.getContent() != null}">
								<div class="table-responsive themeTable">
									<table id="roomInventoryList" class="table table-bordered nowrap w-100">
										<thead>
											<tr>
												<th>
													<span
														th:text="#{message.label.asset.code}"></span>
												</th>
												<th>
													<span
														th:text="#{message.label.asset.name}"></span>
												</th>
												<th>
													<span
														th:text="#{message.label.hostel.name}"></span>
												</th>
												<th class="text-center">
													<span th:text="#{message.label.room.no}"></span>
												</th>
												<th class="text-center">
													<span
														th:text="#{message.label.asset.condition}"></span>
												</th>
												<th class="text-center">
													<span th:text="#{message.label.action}"></span>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${form.paginationList != null && form.paginationList.getContent() != null}"
												th:each="roomInventory, iter: ${form.paginationList.getContent()}">
												<td th:text="${roomInventory.assetCode}"></td>
												<td th:text="${roomInventory.assetName}"></td>
												<td th:text="${roomInventory.hostelName}"></td>
												<td class="text-center" th:text="${roomInventory.roomNo}"></td>
												<td class="text-center" th:text="${roomInventory.assetCondition}"></td>
												<td class="text-center">
													<div class="d-flex justify-content-center">
														<button type="button" th:if="${!@securityCtxUtil.userName().toLowerCase().contains('.hostel')}"
															class="btn btn-outline-primary btn-sm me-2"
															data-bs-toggle="tooltip"
															th:data-category-id="${roomInventory.getAssetCategoryId()}"
															onclick="editRoomInventory(this);" data-bs-title="Edit">
															<i class="fa-solid fa-pencil"></i>
														</button>
														<button th:if="${@securityCtxUtil.userName().toLowerCase().contains('.hostel')}" type="button" class="btn btn-outline-danger btn-sm"
																data-bs-toggle="tooltip"
																th:data-category-id="${roomInventory.getAssetCategoryId()}"
																th:id="${'deleteReq_'+roomInventory.assetCategoryId}"
																onclick="deleteRoomInventory(this);" data-bs-title="Delete">
															<i class="fa-solid fa-trash-can"></i>
														</button>
													</div>
												</td>
											</tr>
											<tr th:if="${form.paginationList  == null || form.paginationList.getContent().size() eq 0}">
												<td colspan="6" class="text-center"><span th:text="#{message.label.no.data.available}"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							<div th:replace="~{common/template/pagination :: pagination(${form})}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<div th:id="modalDiv"></div>
	<th:block
		th:replace="~{common/modal/delete-modal :: contents(headerText=#{message.label.confirmation},bodyText=#{message.label.delete.row})}">
	</th:block>

	<!-- Footer-->
	<th:block th:replace="~{common/footer :: scripts(~{::script}, ${footerForm})}">
		<!-- Datad Table JS FILES -->
		<script th:src="@{/assets/js/hostel/room-inventory.js}"></script>
		
		<script th:inline="javascript">
			const baseURL = /*[[#{url.room.inventory}]]*/ '';
			const detailsURL = /*[[#{url.details}]]*/ '';
			const roomListURL = /*[[#{url.room.list}]]*/ '';
		</script>
	</th:block>
	<!-- Footer-->
</body>

</html>