<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{common/head :: common_header(~{::link})}"></head>

<body>
  <header th:replace="~{common/header:: title(${headerForm})}"></header>
  <!-- Main -->
  <main id="main" class="main">
    <div class="row">
      <div class="col-lg-12">
        <div class="card main-card mt-4">
          <div class="card-body themeForm">
            <form action="#" method="get" class="form-payment-list" id="paymentListForm" th:object="${paymentDetailsDto}">
              <div class="row mb-4">
                <div class="col-lg-3 mb-3">
                  <label for="submittedFrom" class="form-label" th:text="#{message.label.submitted.from}"></label>
                  <input id="submittedFrom" type="date" class="form-control" th:placeholder="#{message.placeholder.submitted.from}" title="Submitted From"
                  	th:field="*{submittedFrom}">
                  <div class="invalid-feedback" th:text="#{message.validation.submitted.from.required}"></div>
                </div>
                <div class="col-lg-3 mb-3">
                  <label for="submittedTo" class="form-label" th:text="#{message.label.submitted.to}"></label>
                  <input id="submittedTo" type="date" class="form-control" th:placeholder="#{message.placeholder.submitted.to}" title="Submitted To"
                  	th:field="*{submittedTo}">
                 	<div class="invalid-feedback" th:text="#{message.validation.to.date}"></div>
                    <div class="invalid-feedback-date-compare d-none" th:text="#{message.validation.to.date}"></div>
                </div>
                <div class="col-lg-3 mb-3">
                  <label for="paymentStatus" class="form-label" th:text="#{message.label.payment.status}"></label>
                  <select id="paymentStatus" class="form-select" title="Select Payment Status" th:field="*{paymentStatus}">
                    <option value="">Select</option>
                    <option value="Success" th:text="#{response.status.success}"></option>
                    <option value="Aborted" th:text="#{response.status.failure}"></option>
                    <option value="Initiated" th:text="#{response.status.initiated}"></option>
                  </select>
                  <div class="invalid-feedback" th:text="#{message.validation.payment.status.required}"></div>
                </div>
                <div class="col-auto mt-3">
                  <button id="getData" class="btn btn-lgtblue mt-3" type="button" onclick="getTempAccommodationData()">
                    <i class="fa-solid fa-database"></i>
                    <span th:text="#{message.label.get.data}"></span>
                  </button>
                </div>
              </div>
            </form>
            <div class="mb-4">
              <div class="table-responsive themeTable">
                <table id="paymentTable" class="table table-bordered nowrap w-100">
                  <thead>
                    <tr>
                      <th th:text="#{message.label.sl.no}"></th>
                      <th th:text="#{message.label.submitted.date}"></th>
                      <th th:text="#{message.label.advice.id}"></th>
                      <th th:text="#{message.label.order.no}"></th>
                      <th th:text="#{message.label.reference.no}"></th>
                      <th th:text="#{message.label.payment.method}"></th>
                      <th th:text="#{message.label.amount}"></th>
                      <th th:text="#{message.label.payment.status}"></th>
                    </tr>
                  </thead>
                   <tbody th:with="dateFormat=#{date.format}">
					<tr th:if="${form.paginationList != null && form.paginationList.getContent() != null}" 
						th:each="paymentDet, iter: ${form.paginationList.getContent()}">
                      <td th:text="${iter.count}"></td>
                      <td th:text="${#temporals.format(paymentDet.submittedDate,dateFormat)}"></td>
                      <td th:text="${paymentDet.adviceId}"></td>
                      <td th:text="${paymentDet.orderNo}"></td>
                      <td th:text="${paymentDet.referenceNo}"></td>
                      <td th:text="${paymentDet.paymentMethod}"></td>
                      <td class="text-end currency" th:text="${paymentDet.netAmount}"></td>
                      <td th:text="${paymentDet.paymentStatus}"></td>
                    </tr>
                    <tr th:if="${form.paginationList  == null || form.paginationList.getContent().size() eq 0}">
						<td colspan="12" class="text-center"><span th:text="#{message.label.no.data.available}"></span></td>
					</tr>
                  </tbody>
                </table>
              </div>
              <div th:replace="~{common/template/pagination :: pagination(${form})}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <th:block th:replace="~{common/footer :: scripts(~{::script}, ${footerForm})}">

	<script th:src="@{/assets/js/hostel/temporary-accommodation-online-payment.js}"></script>
    <script th:inline="javascript">
      const baseURL = /*[[#{url.payment.list.request}]]*/ '';
      const downloadURL = /*[[#{url.download.payment.list.report}]]*/ '';
    </script>
  </th:block>
  <!-- Footer -->
</body>

</html>