<th:block th:if="*{onlinePaymentStatus != null and onlinePaymentStatus.equalsIgnoreCase('Success')}">
    <div class="border rounded-3 shadow-sm p-4 mt-4">
        <h5 class="mb-3 text-primary fw-bold">Payment Details</h5>
        <div class="row">
            <div class="col-xl-4 col-sm-12 col-md-6 mb-3">
                <label class="fw-bold d-block">Payment Status</label>
                <span class="ms-1" th:text="*{onlinePaymentStatus}">-</span>
            </div>
            <div class="col-xl-4 col-sm-12 col-md-6 mb-3">
                <label class="fw-bold d-block">Amount Paid</label>
                <span class="ms-1"
                      th:text="${'₹ ' + #numbers.formatDecimal(guestCouponRequestDTO.paidAmount, 1, 'COMMA', 2, 'POINT')}">-</span>
            </div>
            <div class="col-xl-4 col-sm-12 col-md-6 mb-3">
                <label class="fw-bold d-block">Order Number</label>
                <span class="ms-1" th:text="*{orderNo}">-</span>
            </div>
            <div class="col-xl-4 col-sm-12 col-md-6 mb-3">
                <label class="fw-bold d-block">Transaction Ref Number</label>
                <span class="ms-1" th:text="*{transactionRefNo}">-</span>
            </div>
            <div class="col-xl-4 col-sm-12 col-md-6 mb-3">
                <label class="fw-bold d-block">Payment Mode</label>
                <span class="ms-1" th:text="*{paymentMode}">-</span>
            </div>
            <div class="col-xl-4 col-sm-12 col-md-6 mb-3">
                <label class="fw-bold d-block">Transaction Date</label>
                <span th:text="*{transactionDate != null ? #temporals.format(transactionDate, 'MMM dd, yyyy') : '-'}">-</span>
            </div>
        </div>
    </div>
</th:block>
