<div th:replace="~{common/modal-template :: modal('mess-bill-summary-mail-modal', ~{::modalHeader}, ~{::modalBody}, null, null, null, null, 'lg')}">
    <modalHeader th:text="#{message.label.mess.bill.summary.mail}"></modalHeader>
    <modalBody>
        <form class="themeForm" id="messBillSummaryMailId" th:action="@{#{url.mess.bill.summary.report}+#{url.mess.mail}}"
              th:object="${messBillSummary}" method="post">
            <div class="row">
				<input type="hidden" th:name="messPeriod" th:value="${messPeriod}" th:id="messPeriodId" />
				<input type="hidden" th:name="messName" th:value="${messName}" th:id="messNameId" />
            </div>
        </form>
    </modalBody>
</div>