<!-- filepath: /iKollege-Refactoring/iKollege-Refactoring/src/main/resources/templates/dev/warden-hostel-details.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{common/head :: common_header(~{::link})}"></head>

<body>
<header
        th:replace="~{common/headerdev:: title(${headerForm},'Warden Hostel Details',' Dashboard',null,null,'Back',null)}">
</header>
<main id="main" class="main">
    <div class="row">
        <div class="col-lg-12">
            <div class="card main-card mt-4">
                <div class="card-body themeForm">
                    <div class="row mb-4">
					    <div class="col-lg-4">
					        <label class="form-label">Search</label>
					        <input type="text" id="tableSearch" class="form-control" placeholder="Search..." onkeyup="filterTable()">
					    </div>
					</div>
                    <div class="mb-4">
                        <div class="table-responsive themeTable">
                            <table id="wardenHostelDetailsTable" class="table table-bordered nowrap w-100">
                                <thead>
                                    <tr>
                                        <th th:text="#{message.label.hostel.name}"></th>
                                        <th th:text="#{message.label.mess.inspection.warden.name}"></th>
                                        <th th:text="#{message.label.warden.email}"></th>
                                        <th th:text="#{message.label.warden.office.no}"></th>
                                        <th th:text="#{message.label.incharge.name}"></th>
                                        <th th:text="#{message.label.incharge.no}"></th>
                                        <th th:text="#{message.label.incharge.email}"></th>
                                    </tr>
                                </thead>
                                <tbody>
									<tr th:if="${form.paginationList != null && form.paginationList.getContent() != null}"
										 th:each="wardenHostelDetails, iter: ${form.paginationList.getContent()}">										
										<td class="text-center" th:text="${wardenHostelDetails?.hostelName}"></td>
										<td class="text-center" th:utext="${wardenHostelDetails?.wardenName}"></td>
										<td class="text-center" th:text="${wardenHostelDetails?.wardenEmail}"></td>
										<td class="text-center" th:text="${wardenHostelDetails?.officeNo}"></td>
										<td class="text-center" th:text="${wardenHostelDetails?.alternateWardenName}"></td>
										<td class="text-center" th:utext="${wardenHostelDetails?.alternatePhoneNumber}"></td>	
										<td class="text-center" th:utext="${wardenHostelDetails?.alternateWardenEmail}"></td>													
									</tr>
									<tr th:if="${form.paginationList  == null || form.paginationList.getContent().size() eq 0}">
										<td colspan="12" class="text-center"><span th:text="#{message.label.no.data.available}"></span></td>
									</tr>
								</tbody>
                            </table>
                        </div>
                        <div th:replace="~{common/template/pagination :: pagination(${form})}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<th:block th:replace="~{common/footer :: scripts(~{::script}, ${footerForm})}">
    <script th:src="@{/assets/js/warden/warden-hostel-details.js}"></script>
</th:block>
<!-- Footer -->
</body>

</html>