<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="contents(headerText, bodyText)">
    <div th:replace="~{common/modal/simple-modal-required-template:: modal('approveWithReasonModal', ~{::modalHeader}, ~{::modalBody},
		'success','fa-solid fa-check', #{message.label.confirm},true)}">
        <modalHeader>
            <th:block th:text="${headerText}"></th:block>
        </modalHeader>
        <modalBody>
            <span th:text="${bodyText}"></span>
            <div class="col-lg-12 mb-3">
                <form class="themeForm" id="approveWithReasonForm" th:object="${statusUpdateDto}" method="post">
                    <label style="float:left" class="form-label">
                        <span th:text="#{message.label.bulk.accommodation.request.details.approval.reason}" />
                        <th:block th:replace="~{common/template/mandatory-symbol}" />
                    </label>
                    <textarea name="approvalNotes" id="approvalNotesId" class="form-control" th:name="approvalNotes"
                              th:placeholder="#{message.label.bulk.accommodation.request.details.approval.reason}"  rows="4"></textarea>
                    <div class="invalid-feedback" style="text-align: left;"th:text="#{message.validation.reason.required}"></div>
                </form>
            </div>
        </modalBody>
    </div>
</th:block>