<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="title(hostelFeeModel)">
    <!-- Hostel Fee Payment Module -->
    <div class="themeModal modal fade" id="feepayModal" tabindex="-1" aria-labelledby="feepayModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-close">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 text-center mb-3">
                            <img th:src="@{/assets/img/payment-method-img.webp}" class="pm-img img-fluid">
                            <hr>
                        </div>
                        <div class="col-lg-12 text-center">
                            <a class="btn btn-primary btn-lg px-4 fw-bold" href="https://fees.iitm.ac.in" role="button" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"	data-bs-title="Please click here to proceed with the payment." target="_blank"><i class="fa fa-credit-card me-1 align-middle"></i> IFPP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>