<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="contents(id, headerText, bodyText)">
	<div th:replace="~{common/modal/simple-modal-template :: modal(${id ne null ?(id+'Modal'):'transactionConfirmationModal'}, ~{::modalHeader}, ~{::modalBody},
		'primary','fa-solid fa-exclamation', #{message.label.okay},true)}">
		<modalHeader>
			<th:block th:text="${headerText}"></th:block>!
		</modalHeader>
		<modalBody>
			<span id="transactionModalText" th:text="${bodyText}"></span>
			<input id="dynamicId" type="hidden">
		</modalBody>
	</div>
</th:block>