<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: common_header(~{::link})} "></head>
<body>
<header th:replace="~{common/header:: title(${headerForm})}"></header>

<main id="main" class="main">
    <div class="row">
        <div class="col-lg-12">
            <div class="card main-card mt-4">
                <div class="card-body">
                    <!--<th:block th:replace="~{tabs}"></th:block>-->
                    <div class="">
                        <form method="post" th:object="${frForm}" id="fr-form"
                              class="themeForm">
                            <h2 class="tmsub-title">
                                <span th:text="'Facial Recognition'"></span>
                            </h2>
                            <div class="row">
                                <div class="col-lg-3 mb-3">
                                    <label class="form-label" for="deviceId" th:text="#{message.label.pull.data.from}"></label>
                                    <input type="text" class="form-control" onchange="" id="deviceId"
                                           name="pullIp" th:value="${frForm.pullIp}" th:placeholder="#{message.label.enter} + ' ' + #{message.label.terminal.ip}">
                                </div>
                                <div class="col-lg-2 mt-3">
                                    <button type="button" onclick="pullDataRequest()" class="btn btn-dark mt-3" id="pullData">
                                        <i class="fa fa-arrow-up-from-bracket me-1"></i> Pull
                                    </button>
                                </div>
                                <div class="col-lg-4 mt-5 form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="deleteUser" th:name="deleteUser"/>
                                    <label for="deleteUser" class="form-check-label">Delete Users from device</label>
                                </div>
                            </div>
                            <hr>
                            <th:block th:replace="~{common/log-content::content('frPull')}"></th:block>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{common/biometric-footer :: scripts(~{::script}, ${footerForm})}">
    <script th:src="@{/assets/js/biometric/frPull.js}"></script>
    <script th:src="@{/assets/js/biometric/log.js}"></script>
</th:block>
</body>
</html>
