<!-- Reset Password Modal -->
<th:block th:fragment="resetPassword">
	<div th:replace="~{common/modal-template :: modal('resetPassword', ~{::modalHeader}, ~{::modalBody}, Cancel, null, Save,
	        null, 'md')}">
	    <modalHeader>
	        <span th:text="#{message.label.reset.password.modal}"></span>
	    </modalHeader>
	    <modalBody>
	        <form class="themeForm" id="resetForm" th:action="@{/resetPassword}" th:object="${resetPasswordDto}">
	            <div class="row">
	                <div class="col-lg-12 mb-3">
	                    <label class="form-label" for="applicantPassword"><span th:text="#{message.label.current.password}"></span> <th:block th:replace="~{common/template/mandatory-symbol}" /></label>
	                    <input type="password" id="applicantPassword" class="form-control password-length" th:field="*{applicantPassword}"
	                           th:placeholder="#{message.placeholder.current.password}">
	                    <div class="invalid-feedback" id="currentPasswordRequired" th:text="#{message.validation.current.password.required}"></div>
	                    <div class="invalid-feedback  d-none" id="invalidCurrentPassword"></div>
	                </div>
	                <div class="col-lg-12 mb-3">
	                    <label class="form-label" for="newPassword"><span th:text="#{message.label.new.password}"></span> <th:block th:replace="~{common/template/mandatory-symbol}" /></label>
	                    <input type="password" class="form-control password-length" th:field="*{newPassword}" id="newPassword"
	                           th:placeholder="#{message.placeholder.new.password}">
	                    <div class="invalid-feedback" id="newPasswordRequired" th:text="#{message.validation.new.password.required}"></div>
	                    <div class="invalid-feedback d-none" id="invalidNewPassword"></div>
	                </div>
	                <div class="col-lg-12 mb-3">
	                    <label class="form-label" for="confirmPassword"><span th:text="#{message.label.confirm.new.password}"></span> <th:block th:replace="~{common/template/mandatory-symbol}" /></label>
	                    <input type="password" class="form-control password-length" th:field="*{confirmPassword}" id="confirmPassword"
	                           th:placeholder="#{message.placeholder.new.password}">
	                           
	                    <div class="invalid-feedback" id="confirmPasswordRequired" th:text="#{message.validation.new.password.required}"></div>
	                    <div class="invalid-feedback d-none" id="invalidConfirmPassword"></div>
	                </div>
	                <input type="hidden" name="loginType" th:value="${loginType}"/>
	            </div>
	        </form>
	    </modalBody>
	</div>
</th:block>
