<div th:replace="~{common/widget-template :: content('scholars-stay-extension-widget', ~{::modalHeader}, ~{::modalBody}, ~{::modalFooter})}">
  <form th:object="${scholarsStayExtensionDto}">
  <modalHeader>
<!--    <span th:if="${msPhdStayExtension}" th:text="#{message.label.ms.phd.scholars.stay.extension}"></span>-->
    <span th:text="#{message.label.hostel.accommodation.request}"></span>
  </modalHeader>
  <modalBody>
      <div class="row text-center">
        <div class="col-lg-6">
          <span class="text-tmPrimary fw-bold" th:text="#{message.label.applied.on}"></span><br>
          <div class="fw-bold text-primary" th:text="${#temporals.format(scholarsStayExtensionDto.createdAt, #messages.msgOrNull('date.format'))}"></div>
        </div>
        <div class="col-lg-6">
          <span class="text-tmPrimary fw-bold" th:text="#{message.label.status}"></span><br>
          <th:block th:include="common/template/approval-status-badge :: statusBadge(${scholarsStayExtensionDto.status},null)"></th:block>
        </div>
      </div>
  </modalBody>
  <modalfooter>
    <th:block>
<!--      <div th:if="${msPhdStayExtension}" class="text-end">
        <a th:href="@{#{url.scholars.stay.extension}}" class="text-secondary mb-0 align-middle"><span th:text="#{message.label.click.view.apply}"></span>
          <a th:href="@{#{url.scholars.stay.extension}}" class="ms-2"><i class="fa-solid fa-arrow-right"></i> </a>
        </a>
      </div>-->
      <div class="text-end">
        <a th:href="@{#{url.hostel.accommodation}+#{url.list}}" class="text-secondary mb-0 align-middle"><span th:text="#{message.label.click.view.apply}"></span>
          <a th:href="@{#{url.hostel.accommodation}+#{url.list}}" class="ms-2"><i class="fa-solid fa-arrow-right"></i> </a>
        </a>
      </div>
    </th:block>
  </modalfooter>
  </form>
</div>
