<div th:replace="~{common/widget-template :: content('eventWidget', ~{::modalHeader}, ~{::modalBody}, ~{::modalFooter})}">
    <modalHeader><span th:text="#{message.professional.show.tickets.tshirts}"></span></modalHeader>
    <modalBody>
        <div th:if="${eventList ne null and !eventList.isEmpty()}">
            <th:block th:each="event, iterStat : ${eventList}">
                <a th:href="@{#{url.show.action}+'/'+${event.id}}" class="btn btn-primary px-3 mt-1" th:text="${event.eventName}"></a>
            </th:block>
        </div>
        <div th:unless="${eventList ne null and !eventList.isEmpty()}"
             class="mt-3 text-center text-danger fw-bold">
            <i class="fa-solid fa-triangle-exclamation me-1"></i>
            <span th:text="#{message.lable.no.sales.open.now}"></span>
        </div>
    </modalBody>
</div>

