<div th:replace="~{common/widget-template :: content('complaintId', ~{::modalHeader}, ~{::modalBody}, ~{::modalFooter})}">
    <modalHeader><span th:text="#{message.label.student.complaint.form}"></span></modalHeader>
    <modalBody>
        <div class="row text-center">
            <!-- Hostel Complaint Count -->
            <div class="col-lg-6">
                <span class="text-tmPrimary fw-bold" th:text="#{message.label.hostel}"></span>
                <div class="text-uppercase" th:text="${complaintDto.hostelCount}"></div> 
            </div>

            <!-- Mess Complaint Count -->
            <div class="col-lg-6">
                <span class="text-tmPrimary fw-bold" th:text="#{message.label.mess}"></span>
                <div class="text-uppercase" th:text="${complaintDto.messCount}"></div> 
            </div>
        </div>
    </modalBody>
    <modalfooter>
        <div class="text-end">
		<a th:href="@{#{url.student.complaint.form}}"
			class="text-secondary mb-0 align-middle"> <span
			th:text="#{message.label.click.view.apply}"></span> <i
			class="fa-solid fa-arrow-right ms-2"></i>
		</a>
	</div>
    </modalfooter>
</div>
