<!-- Form Module -->
<div th:replace="~{common/modal-template :: modal('reject-modal', ~{::modalHeader}, ~{::modalBody}, Cancel, null, Save, null, 'lg')}">
    <modalHeader>
        <span th:text="#{message.label.reject}"></span>
    </modalHeader>
    <modalBody>
        <form class="themeForm" id="lateFeeForm">
            <div class="row">
                <div class="col-lg-12 mb-3">
                    <label class="form-label">
                        <span th:text="#{message.label.reject.reason}"></span>
                        <th:block th:replace="~{common/template/mandatory-symbol}" />
                    </label>
                    <textarea class="form-control required-input" id="rejectReason" required></textarea>
                    <div class="invalid-feedback" th:text="#{message.label.validation.reject.reason.required}"></div>
                </div>
            </div>
        </form>
    </modalBody>
</div>